<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jpa="http://www.springframework.org/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/data/jpa http://www.springframework.org/data/jpa/spring-jpa-1.3.xsd">

	<task:annotation-driven />
	<bean name="Controller" class="controller.BrottController" />
	<bean name="CrimeHandler" class="model.CrimeHandler" />
	<bean name="CrimesDAO" class="service.CrimesDAO">
		<property name="persistenceUnitName" ref="persistenceUnit"/>
	</bean>
	<bean name="persistenceUnit" class="java.lang.String">
		<constructor-arg value='Crimes'></constructor-arg>
	</bean>

</beans>
